@import "./margin_padding";
@import "./color.less";
@import "./width.less";

html,
body,
:global(#root) {
  height: 100%;
}
:global {
  .pull-left {
    float: left;
  }
  .pull-right {
    float: right;
  }
  .pointer {
    cursor: pointer;
  }
  .text-center {
    text-align: center !important;
  }
  .inline-block {
    display: inline-block;
  }
  .block {
    display: block;
  }
  .clearfloat:after {
    content: "";
    display: block;
    clear: both;
  }
  .bold {
    font-weight: bold;
  }
  .hover-primary {
    &:hover {
      color: @primary-color;
    }
  }
  .text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .none {
    display: none !important;
  }
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
