.links {
  margin-right: 15px;
  margin-bottom: 15px;
  width: 292px;
  height: 200px;
  // float: left;
  display: inline-block;
  vertical-align: top;

  :global {
    .ant-card-head {
      padding: 0 15px;
    }
    .ant-card-body {
      padding: 20px;
    }
    .ant-card-head-title {
      padding: 10px 0;
      font-size: 18px;
    }
  }
}
